<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h3 class="text-center">Aplikacja do śledzenia liczby zakażonych osób na Covid-19</h3>
    <br><br>
    <p>Łączna liczba przypadków zgłoszonych na dzień dzisiejszy:</p>
    <h2 th:text="${totalReportedCases}"></h2>

    <hr class="my-4">
    <p>
        <span>Liczba nowych przypadków:</span>
        <span th:text="${totalActualCases}"></span>
    </p> <br><br>
        <table class="table">
            <tr>
                <th>Stan</th>
                <th>Kraj</th>
                <th>Liczba potwierdzonych zakażeń</th>
                <th>Wczorajsza liczba zakażeń</th>
            </tr>
            <tr th:each="locationStat : ${LocationStats}">
                <td th:text="${locationStat.state}"></td>
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.latestTotalCases}">0</td>
                <td th:text="${locationStat.previousDayCases}">0</td>
            </tr>
    </table>
</div>



</body>

</html>